@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 44px 0 144px 76px;
    word-spacing: 25px;
}

.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989d9c;
    text-decoration: none;
    cursor: pointer;
}



.button-header {
    background-color: #665ae1;
    font-weight: 600;
    font-size: 24px;  
    line-height: 29px;
    color: #fff;
    border-radius: 20.5px;
    border: none;
    width: 130px;
    height: 41px;
    cursor: pointer;
}


.logo-image {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 86px;
    height: 122px;
}

h1{
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;

}

.button-main {
    background: #ADFF00;
    border: none;
    border-radius: 20.5px;
    width: 239px;
    height: 64px;
    font-weight: 700;
    font-size: 28px;  
    color: #000000;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

main {
    margin-left: 200px;
}